<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" media="screen" href="/estilos/login.css" />
</head>
<style>
    header {
        border:solid 1px black;
        height: 15vh;
        background-color: rgb(189, 90, 57);
    }
    body {
    background-color: rgb(255, 255, 234);
    }
</style>

<body>
    <header>
        <div class="row">
            <div id="setecols" class="form-group col-md-7 col-md-offset-0">
                <figure>
                    <img id="logo" src="./imagens/Gota.png" alt="Logo Projeto do Hemocentro">
                </figure>
            </div>
            <h1>Titulo Legal</h1>
            <div class="col-md-3 col-md-offset-">
                <nav class="linkAlunos">
                    <ul>
                        <li><a href="/solicitacao">Solicitações</a></li>
                        <li><a href="/emoProx">Hemocentros</a></li>
                        <li><a href="/suporte">Suporte</a></li>
                        <li><a href="/contaUsuario">Conta</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <h1>Suporte</h1>
</body>

</html>